#!/bin/sh

test -x $(which duplicity) || exit 0
. /root/.passphrase

export WEBDAV_USERNAME
export WEBDAV_PASSWORD
export WEBDAV_HOST_PATH

$(which duplicity) full --ssl-no-check-certificate --encrypt-key {{ duplicity.encrypt_key }} /mail/ webdavs://${WEBDAV_USERNAME}:${WEBDAV_PASSWORD}@${WEBDAV_HOST_PATH}/mail-backup
$(which duplicity) remove-all-but-n-full 2 --ssl-no-check-certificate --force webdavs://${WEBDAV_USERNAME}:${WEBDAV_PASSWORD}@${WEBDAV_HOST_PATH}/mail-backup
$(which duplicity) full --ssl-no-check-certificate --encrypt-key {{ duplicity.encrypt_key }} --include /var/www/owncloud/data/ --exclude '**' /var webdavs://${BOX_USERNAME}:${BOX_PASSWORD}@dav.box.com/dav/owncloud-backup
$(which duplicity) remove-all-but-n-full 2 --ssl-no-check-certificate --force webdavs://${BOX_USERNAME}:${BOX_PASSWORD}@dav.box.com/dav/owncloud-backup
