driver = mysql
connect = host=127.0.0.1 dbname={{ maildb.database }} user={{ maildb.username }} password={{ maildb.password }}
default_pass_scheme = SHA512-CRYPT
password_query = SELECT email as user, password FROM virtual_users WHERE email='%u';

