#!/usr/bin/env bash
{% for domain in maildb.domains %}
{% for user in domain.users %}
sed -i'' -r "s%#{{ user.email }}#PASSWORD#%$(doveadm pw -s SHA512-CRYPT -p '{{ user.password }}' | sed -r 's@^\{[^\}]+\}@@g')%g" /tmp/mail-users.sql
{% endfor %}
{% endfor %}

