rewrite ^{{ owncloud.basepath }}/\.well-known/carddav {{ owncloud.basepath }}/remote.php/carddav permanent;
rewrite ^{{ owncloud.basepath }}/\.well-known/caldav {{ owncloud.basepath }}/remote.php/caldav permanent;
rewrite ^/\.well-known/carddav {{ owncloud.basepath }}/remote.php/carddav permanent;
rewrite ^/\.well-known/caldav {{ owncloud.basepath }}/remote.php/caldav permanent;

location {{ owncloud.basepath }} {
    root /var/www;
    index index.php;
    try_files $uri $uri/ @webdav;
}

location ~ ^{{ owncloud.basepath }}/(data|config|\.ht|db_structure\.xml|README) {
    deny all;
}

location @webdav {
    root /var/www;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param PATH_INFO       $fastcgi_path_info;
    fastcgi_param HTTPS on;
    include fastcgi_params;
}

location ~ ^{{ owncloud.basepath }}/.+\.php$ {
    root /var/www;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param PATH_INFO       $fastcgi_path_info;
    fastcgi_param HTTPS on;
    include fastcgi_params;
}

