protocol=cloudflare
use=web
web=http://canihazip.com/s/
zone=<CloudFlare Zone domain, usually TLD>
server=www.cloudflare.com
login=<CloudFlare e-mail>
password='<CloudFlare API Key>'
<List of domains which should be assigned to the machines external IP>
