location {{ roundcube.basepath }} {
    alias /var/lib/roundcube/;
    index index.php;
}

location ~ {{ roundcube.basepath }}/(?<item>.+\.php)$ {
    alias /var/lib/roundcube/;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_index index.php;
    include fastcgi_params;
    fastcgi_param  SCRIPT_FILENAME  $document_root$item;
}
