server {
    listen 443 default_server;
    listen [::]:443 default_server ipv6only=on;

{% for domain in maildb.domains %}
{% if domain.primary %}
    server_name {{ domain.name }};
{% endif %}
{% endfor %}

    ssl on;
    ssl_certificate /etc/ssl/certs/this-machine.pem;
    ssl_certificate_key /etc/ssl/private/this-machine.pem;

    root /usr/share/d-push;
    rewrite ^/Microsoft-Server-ActiveSync(\?.*)?$ /index.php$1;

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
        include fastcgi_params;
    }
}

server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    rewrite ^ https://$http_host$request_uri permanent;
}
