location /Microsoft-Server-ActiveSync/ {
    alias /usr/share/d-push/index.php;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param  SCRIPT_FILENAME $document_root;
    include fastcgi_params;
}
